@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DevSecOps</h1>
    <p>.NET Core Container running in Azure Container Instance!</a>.</p>
</div>
